@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: linear-gradient(0deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --error: hsl(0, 100%, 66%);
    --white: hsl(0,0%,100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

*{
    font-size: 18px;
    font-family: Space Grotesk, sans-serif;
    font-weight: 500;
}

input:focus-visible{
    outline: none;
}

.blurry-col{
    @apply w-full h-72 lg:h-full relative;
    background: url("../public/assets/images/bg-main-desktop.png") no-repeat center;
    background-size: cover;
}

.card-front{
    @apply absolute top-32 lg:top-56 rounded-xl left-3 lg:left-28 mr-auto w-[350px] lg:w-[430px] h-[230px];
    background: url("../public/assets/images/bg-card-front.png") no-repeat center;
    background-size: cover;
    box-shadow: -30px 30px 120px -10px rgba(0, 0, 0, 0.56);
}

.card-back{
    @apply absolute lg:top-[500px] top-3 rounded-xl left-16 lg:left-44 w-[350px] lg:w-[430px] h-[230px];
    background: url("../public/assets/images/bg-card-back.png") no-repeat center;
    background-size: cover;
    box-shadow: -30px 30px 120px -10px rgba(0, 0, 0, 0.56);
}

.card-back p{
    @apply right-[20px] lg:right-[50px] absolute;
    top: 100px;
}

.card-info-container{
    @apply w-full md:w-80 px-5 mx-auto mt-20
}

.form-group{
    @apply my-2
}

.form-group input{
    @apply w-full rounded py-1 px-4;
    margin: 5px 0 !important;
}

.form-group label{
    font-size: 14px;
}

.form-control{
    border: 1px solid var(--light-grayish-violet);
}

.form-control:focus-within{
    border: 1px solid var(--very-dark-violet);
}

.form-control-error{
    @apply border border-red-500;
}

.confirm-btn{
    @apply w-full rounded text-white py-2 my-3;
    background: var(--very-dark-violet);
}

.btn-disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

.card-number{
    @apply absolute bottom-14 lg:text-[25px];
    letter-spacing: 5px;
}

.confirmation-container p{
    color: var(--dark-grayish-violet);
}