@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: linear-gradient(0deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --error: hsl(0, 100%, 66%);
    --white: hsl(0,0%,100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

*{
    font-size: 18px;
    font-family: Space Grotesk, sans-serif;
    font-weight: 500;
}

input:focus-visible{
    outline: none;
}

.blurry-col{
    @apply w-full h-40 lg:h-full relative;
    background: url("../public/assets/images/bg-main-desktop.png") no-repeat center;
    background-size: cover;
}

.card-front{
    @apply absolute top-32 rounded-xl;
    left: 18%;
    background: url("../public/assets/images/bg-card-front.png") no-repeat center;
    background-size: cover;
    width:430px;
    height: 230px;
    box-shadow: -30px 30px 120px -10px rgba(0, 0, 0, 0.56);
}

.card-back{
    @apply absolute top-96 rounded-xl;
    left: 44%;
    background: url("../public/assets/images/bg-card-back.png") no-repeat center;
    background-size: cover;
    width:430px;
    height: 230px;
    box-shadow: -30px 30px 120px -10px rgba(0, 0, 0, 0.56);
}

.card-back p{
    position: absolute;
    top: 100px;
    right:50px
}

.card-info-container{
    @apply w-full md:w-80 mx-24 md:mx-auto;
}

.form-group{
    @apply my-2
}

.form-group input{
    @apply w-full rounded py-1 px-4;
    border: 1px solid var(--light-grayish-violet);
    margin: 5px 0 !important;
}

.form-group label{
    font-size: 14px;
}

.confirm-btn{
    @apply w-full rounded text-white py-2 my-3;
    background: var(--very-dark-violet);
}

.card-number{
    @apply absolute bottom-14;
    letter-spacing: 5px;
    font-size: 25px;
}